@model IEnumerable<TMDT_Tuan3.Models.Menu>
<ul class="nav navbar-nav">
    @foreach(var item in Model.Where(c => c.Parent == null).OrderBy(c => c.SortOrder))
    {
        <li>
            <a>@item.Name</a>
            @RenderMenuItem(Model.ToList(),item)
        </li>
    }
</ul>
@helper RenderMenuItem(List<TMDT_Tuan3.Models.Menu> list, TMDT_Tuan3.Models.Menu itemMenu)
    {
        <ul style="">
            @foreach (var item in list.Where(c => c.Parent ==  itemMenu.Id).OrderBy(c =>c.SortOrder))
            {
                <li>
                    <a>@item.Name</a>
                    @RenderMenuItem(list,item)
                </li>
            }
        </ul>
    }